@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--primary: #f64d45;
	--black: #333;
	--white: #fff;
}

* {
	font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Pirata One';
	color: var(--primary) !important;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

p {
	font-weight: 300 !important;
	color: var(--black) !important;
}

li {
	font-weight: 300 !important;
}

footer {
	background: var(--black);
}

.nav-link {
	color: var(--primary) !important;
	font-family: 'Pirata One';
	font-size: 20px !important;
	letter-spacing: 0.5px;
}

.nav-link:hover {
	filter: brightness(1.8);
	transform: scale(1.1);
	transition: filter 0.2s, transform 0.2s;
}

.banner {
	background: var(--primary);
}

#buy-btn {
	font-family: 'Pirata One';
	text-transform: uppercase;
	letter-spacing: 0.5px;
}